
{{#if posts.length}}
<section id="main-cards">
    <h2> Posts</h2>
    <ul>
      <section id="post-card">
      {{#each posts as |post|}}
        <section id="small-post">
          <h3>{{post.user.name}}</h3>
          <h3>{{post.title}}</h3>
          <p>{{post.content}}</p>
          <a href="/comments/post/{{post.id}}" class="comment-link">Comment</a>
        </section>
      {{/each}}
    </section>
</section>
{{/if}}



<script src="/js/new-post.js"></script>
<script src="/js/login.js"></script>
<script src="/js/comment.js"></script>