<form class="comment-form">
    <div>
        <textarea id="content" name="comment-content"></textarea>
    </div>
    <div>
        <button type="submit">add comment</button>
    </div>
</form>

<script src="/js/comment.js"></script>