<article>
    <a href="/">&larr; Back to Homepage</a>
    <h2>Add Comment</h2>
    <form class="comment-form">
        <div>
            <textarea id="content" name="comment-content"></textarea>
            <p>{{post.content}}</p>
        </div>
        <div>
            <a id="{{post.id}}" class="post_id" href="/post/{{post.id}}"></a>
        </div>
        <button type="click" class="save-comment">Save Comment</button>
        <button type="click" class="delete-comment">Delete Comment</button>
    </form>
</article>



{{!-- <script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script> --}}

{{!-- 
<form class="comment-form">
    <div>
        <textarea id="content" name="comment-content"></textarea>
    </div>
    <div>
        <button type="submit">add comment</button>
    </div>
</form> --}}

<script src="/js/comment.js"></script>